{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
</head>
<body>

{% block content %}
    <main id="main m-5">
    <section id="AdminPage">
        <div class="container">
            <div class="row border 2px solid gray p-3 mt-5">
            <h3 class="text-center text-decoration-underline mt-1">Available Fixtures</h3>
           <table class="table">
          <thead>
          <tr>
              <td>SN</td>
              <td>TeamA</td>
              <td>Vs</td>
              <td>TeamB</td>
              <td>Pitch</td>
              <td>Action</td>
              <td>Action</td>
              <td>Action</td>
          </tr>
          </thead>
          <tbody>
          {% for fixture in fixture %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ fixture.TeamA }}</td>
                <td>vs</td>
                <td>{{ fixture.TeamB }}</td>
                <td>{{ fixture.Ground }}</td>
                <td><a class="btn btn-danger" href="{% url 'DeleteFixture' fixture.id %}">Delete</a></td>
                <td><a class="btn btn-warning" href="{% url 'UpdateFixture' fixture.id %}">Update</a> </td>
                <td><a class="btn btn-primary" href="{% url 'AddFixture' %}">Add</a> </td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
                    </div>
                </div>

        <div class="container">
            <div class="row border 2px solid gray p-3 mt-5">
            <h3 class="text-center text-decoration-underline mt-1">Available Fields</h3>
           <table class="table">
          <thead>
          <tr>
              <td>SN</td>
              <td>Name</td>
              <td>Capacity</td>
              <td>Action</td>
              <td>Action</td>
              <td>Action</td>
          </tr>
          </thead>
          <tbody>
              {% for field in field %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ field.name }}</td>
                <td>{{ field.capacity }}</td>
                <td><a class="btn btn-danger" href="{% url 'DeleteField' field.id %}">Delete</a></td>
                <td><a class="btn btn-warning" href="{% url 'UpdateField' field.id %}">Update</a> </td>
                <td><a class="btn btn-primary" href="{% url 'AddField' %}">Add</a> </td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
                    </div>
                </div>
        <div class="container">
            <div class="row border 2px solid gray p-3 mt-5">
            <h3 class="text-center text-decoration-underline mt-1">Available Teams</h3>
           <table class="table">
          <thead>
          <tr>
              <td>SN</td>
              <td>Name</td>
              <td>Slogan</td>
              <td>Action</td>
              <td>Action</td>
              <td>Action</td>
          </tr>
          </thead>
          <tbody>
            <tr>
                <td>1</td>
                <td>Man Chester</td>
                <td>Red devils</td>
                <td><a class="btn btn-danger">Delete</a></td>
                <td><a class="btn btn-warning">Update</a> </td>
                <td><a class="btn btn-primary" href="{% url 'AddTeam' %}">Add</a> </td>
            </tr>
          </tbody>
      </table>
                    </div>
                </div>

    </section>
    </main>
{% endblock %}
</body>
</html>