# Default ignored files
/../../../../:PycharmProjects/playground_ticket_system/.idea/shelf/
/../../../../:PycharmProjects/playground_ticket_system/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/playground_ticket_system/.idea/dataSources/
/../../../../:PycharmProjects/playground_ticket_system/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/playground_ticket_system/.idea/httpRequests/
